@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
.nav {
  background: #603810;
}

.logo {
  background: #ffffff;
}

.inner-container {
  text-align: center;
}

.logo-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.logo-h1 {
  font-family: 'Yeseva One', cursive;
  font-weight: 100;
  font-size: 5.5rem;
  line-height: 1.2;
  letter-spacing: .1rem;
  margin-bottom: 0;
}

.logo-h1 a {
  text-decoration: none;
  color: #000000;
}

.logo-h2 {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 1.25;
}

.logo-h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.store-photo {
  width: 100rem;
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutUs-img {
  width: 75rem;
  height: 25rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.creations {
  max-height: 75rem;
}

.photoGallery-container {
  color: #ffffff;
}

.photoGallery-container #galleryH3 {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-weight: 100;
  font-size: 5.5rem;
  text-align: center;
  margin: 7rem auto;
  position: relative;
  max-width: 40rem;
  background: #855729;
}

.photoGallery-container #galleryH3::before {
  content: "";
  display: block;
  width: 75rem;
  height: .02rem;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.photoGallery-container #galleryH3::after {
  content: "";
  display: block;
  width: 75rem;
  height: .02rem;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.photoGallery-container #galleryLink {
  padding: 0;
  margin: 0;
  text-align: center;
}

.photoGallery-container #galleryLink a {
  font-family: 'Libre Baskerville', Georgia, serif;
  text-align: center;
  font-size: 2.5rem;
  color: #3b1d00;
  text-decoration: none;
}

.photoGallery {
  width: 100%;
  margin: 0 auto;
}

.photoGallery {
  perspective: 2500;
  -webkit-perspective: 2500;
  width: 100%;
  margin: 15rem auto;
  perspective-origin: 50% 150px;
  -webkit-perspective-origin: 50% 150px;
  -webkit-transition: 1s, -webkit-perspective;
  transition: 1s, -webkit-perspective;
  transition: perspective, 1s;
  transition: perspective, 1s, -webkit-perspective;
  -o-transition: -o-perspective, 1s;
  -moz-transition: -moz-perspective, 1s;
  -webkit-transition: -webkit-perspective, 1s;
}

.photos:hover {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes spin {
  from {
    transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
  }
}

.photos {
  margin: 0 auto;
  height: 30rem;
  width: 40rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: spin 80s infinite linear;
  -moz-animation: spin 80s infinite linear;
  -o-animation: spin 80s infinite linear;
  -webkit-animation: spin 80s infinite linear;
}

.image {
  position: absolute;
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20em;
  color: #fff;
}

.photos > .i1 {
  transform: rotateY(0deg) translateZ(70rem);
  -moz-transform: rotateY(0deg) translateZ(70rem);
  -o-transform: rotateY(0deg) translateZ(70rem);
  -ms-transform: rotateY(0deg) translateZ(70rem);
  -webkit-transform: rotateY(0deg) translateZ(70rem);
}

.photos > .i2 {
  transform: rotateY(32.7deg) translateZ(70rem);
  -moz-transform: rotateY(32.7deg) translateZ(70rem);
  -o-transform: rotateY(32.7deg) translateZ(70rem);
  -ms-transform: rotateY(32.7deg) translateZ(70rem);
  -webkit-transform: rotateY(32.7deg) translateZ(70rem);
}

.photos > .i3 {
  transform: rotateY(65.4deg) translateZ(70rem);
  -moz-transform: rotateY(65.4deg) translateZ(70rem);
  -o-transform: rotateY(65.4deg) translateZ(70rem);
  -ms-transform: rotateY(65.4deg) translateZ(70rem);
  -webkit-transform: rotateY(65.4deg) translateZ(70rem);
}

.photos > .i4 {
  transform: rotateY(98.1deg) translateZ(70rem);
  -moz-transform: rotateY(98.1deg) translateZ(70rem);
  -o-transform: rotateY(98.1deg) translateZ(70rem);
  -ms-transform: rotateY(98.1deg) translateZ(70rem);
  -webkit-transform: rotateY(98.1deg) translateZ(70rem);
}

.photos > .i5 {
  transform: rotateY(130.8deg) translateZ(70rem);
  -moz-transform: rotateY(130.8deg) translateZ(70rem);
  -o-transform: rotateY(130.8deg) translateZ(70rem);
  -ms-transform: rotateY(130.8deg) translateZ(70rem);
  -webkit-transform: rotateY(130.8deg) translateZ(70rem);
}

.photos > .i6 {
  transform: rotateY(163.5deg) translateZ(70rem);
  -moz-transform: rotateY(163.5deg) translateZ(70rem);
  -o-transform: rotateY(163.5deg) translateZ(70rem);
  -ms-transform: rotateY(163.5deg) translateZ(70rem);
  -webkit-transform: rotateY(163.5deg) translateZ(70rem);
}

.photos > .i7 {
  transform: rotateY(196.2deg) translateZ(70rem);
  -moz-transform: rotateY(196.2deg) translateZ(70rem);
  -o-transform: rotateY(196.2deg) translateZ(70rem);
  -ms-transform: rotateY(196.2deg) translateZ(70rem);
  -webkit-transform: rotateY(196.2deg) translateZ(70rem);
}

.photos > .i8 {
  transform: rotateY(228.9deg) translateZ(70rem);
  -moz-transform: rotateY(228.9deg) translateZ(70rem);
  -o-transform: rotateY(228.9deg) translateZ(70rem);
  -ms-transform: rotateY(228.9deg) translateZ(70rem);
  -webkit-transform: rotateY(228.9deg) translateZ(70rem);
}

.photos > .i9 {
  transform: rotateY(261.6deg) translateZ(70rem);
  -moz-transform: rotateY(261.6deg) translateZ(70rem);
  -o-transform: rotateY(261.6deg) translateZ(70rem);
  -ms-transform: rotateY(261.6deg) translateZ(70rem);
  -webkit-transform: rotateY(261.6deg) translateZ(70rem);
}

.photos > .i10 {
  transform: rotateY(294.3deg) translateZ(70rem);
  -moz-transform: rotateY(294.3deg) translateZ(70rem);
  -o-transform: rotateY(294.3deg) translateZ(70rem);
  -ms-transform: rotateY(294.3deg) translateZ(70rem);
  -webkit-transform: rotateY(294.3deg) translateZ(70rem);
}

.photos > .i12 {
  transform: rotateY(327deg) translateZ(70rem);
  -moz-transform: rotateY(327deg) translateZ(70rem);
  -o-transform: rotateY(327deg) translateZ(70rem);
  -ms-transform: rotateY(327deg) translateZ(70rem);
  -webkit-transform: rotateY(327deg) translateZ(70rem);
}

img {
  height: 100%;
  width: 100%;
}

.store-container {
  background: #603810;
  color: #ca9e73;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5rem 0;
}

.store-heading {
  font-size: 3rem;
}

.howto {
  font-size: 1rem;
}

.image-container {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.image-container > img {
  display: block;
}

.image-container .store-photo {
  max-width: 95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}

.image-container .aboutUs-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.aboutUs-container {
  background: #855729;
  text-align: center;
}

.aboutUs-container .about-us {
  font-family: 'Libre Baskerville', Georgia, serif;
  background-color: #ca9e73;
  color: #ffffff;
  padding: 0 10rem;
}

.aboutUs-container .about-us h2 {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-weight: 100;
  font-size: 4.5rem;
  text-align: center;
  margin: 2.5rem auto;
  position: relative;
  max-width: 60rem;
  background: #ca9e73;
  display: block;
}

.aboutUs-container .about-us .about-inner {
  display: block;
}

.aboutUs-container .about-us .about-inner h3 {
  font-size: 3rem;
}

.aboutUs-container .about-us .about-inner p {
  font-size: 2rem;
}

.project-gallery {
  margin: 5rem 20rem;
}

.gallery-section-header {
  font-size: 3.5rem;
  text-align: center;
  color: #f3e6d8;
  border-bottom: 0.2rem solid #f3e6d8;
  padding-bottom: .5rem;
}

.gallery-fig {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.gallery-fig > figcaption {
  text-align: center;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content, max-content, max-content;
      grid-template-rows: -webkit-max-content, -webkit-max-content, -webkit-max-content;
      grid-template-rows: max-content, max-content, max-content;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto, 25rem, 50rem, 50rem, 50rem;
      grid-template-rows: auto, 25rem, 50rem, 50rem, 50rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.nav-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.inner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.store-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: max-content, max-content;
      grid-template-rows: -webkit-max-content, -webkit-max-content;
      grid-template-rows: max-content, max-content;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: center;
}

.aboutUs-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.gallery-sections {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 20rem;
  grid-auto-flow: dense;
  margin: 5rem;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

footer .webmaster {
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav {
  height: 7rem;
  padding: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  list-style: none;
  width: 100%;
  padding: 0 2rem;
}

.nav-list .list-item {
  display: inline;
  margin: 1.5rem;
  text-align: center;
}

.nav-list .list-item a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .1;
  cursor: pointer;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.6%;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', arial, sans-serif;
  background: #855729;
  margin: 0;
  padding: 0;
  line-height: 2.4rem;
}
/*# sourceMappingURL=style.css.map */