$base-color: #855729;
$extra-light-color: #f3e6d8;
$light-color: #ca9e73;
$medium-color: #603810;
$dark-color: #3b1d00;
$img-transZ: 70rem;
$carousel-speed: 80s;
$smallMaxWidth: 600px;
$medMinWidth: 601px;
$medMaxWidth: 1024px;
$largeMinWidth: 1025px;