@media screen and (min-width: 0px) and (max-width: $smallMaxWidth) {
    html {
        box-sizing: border-box;
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    }
    body {
        font-family: 'Montserrat', arial, sans-serif;
        background: $base-color;
        margin: 0;
        padding: 0;
        line-height: 2.4rem;
        font-size: 62.5%;
        img {
            height: auto;
            width: 100%;
            }
    }
}