.main {
    display: grid;
    grid-template-rows: max-content, max-content, max-content;
    grid-template-columns: 100%;
}

main {
    display: grid;
    grid-template-rows: auto, 25rem, 50rem, 50rem, 50rem;
    grid-template-columns: 100%;
}

.inner-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
    align-content: stretch;
}

.store-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content, max-content;
    justify-content: stretch;
    align-content: stretch;
    justify-items: center;
}

.aboutUs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.gallery-sections {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 20rem;
    grid-auto-flow: dense;
    margin: 5rem;
}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .webmaster {
        justify-self: end;
    }
}
