.nav {
    height: 7rem;
    padding: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-container {
        width: 75%;
        display: flex;
        align-items: center;
    }
}