.nav-list {
    list-style: none;
    width: auto;
    padding: 0;
    .list-item {
        display: inline;
        margin: 1.5rem;
        text-align: center;
        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: .1;
            cursor: pointer;
        }
    }
    // .shop {
    //     position: absolute;
    //     right: 45rem;
    //     top: .7rem;
    //   }
}